/* use grid and divide into 2 columns */
.title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

.grid {
  text-align: center;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-gap: 10px;
  padding: 10px;
}
.border {
  padding: 10px;
  border: 1px solid black;
  height: 10vh;
  grid-row-start: auto;
}

.editor{
  grid-column: 1;
  grid-row: 2;
  height: same-as-view;
  background-color: aquamarine;
  
}

.input{
  height: 99%;
  width: 99%;
  background-color: aquamarine;
  border: none;
}
.view{
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
  background-color: turquoise;
}

